@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic');

.main
{
    padding-left: 30px;
    margin-top: 100px;
    position: relative;
}

.left_block
{
    float:left;
    width: 10px;
    margin-left: 330px;
}

.right_block
{
    margin-left: 720px;
}

.my_photo
{
    width: 330px;
    height: 340px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.list_block
{
    font-size: 24px;
    font-family: "Open Sans";
    color: #15a98c;
    line-height: 1.333;
    font-weight: 600;
}

.list
{
    font-size: 19px;
    font-family: "Georgia";
    color: #555555;
    line-height: 1.895;
    
    margin-top: 15px;
    margin-bottom: 41px;
    padding-left: 20px;
    width: 191px;
}

.numbered_list
{
    margin-top: 15px;
    margin-right: 5px;
}

.quotes
{
    font-family: "Georgia";
    font-size: 28px;
    color: #848484;
    font-style: italic;
    line-height: 1.5;
    
    margin-top: 24px;
    margin-left: 59px;
    width: 430px;
    height: 67px;
}

.words_speaker
{
    font-family: "Open Sans";
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    
    margin-left: 65px;
    height: 117px;  /*  */
}

.photo_quotation
{
    margin-top: 42px;
    margin-bottom: -50px;
}

.content
{
    line-height: 36px;
    
    width: 480px;
}

.name
{
    font-family: "Open Sans";
    font-size: 48px;
    line-height: 0.875;
    font-weight: bold;
    color: #333333;
    
    margin-top: 65px;
    margin-bottom: 32px;
}

.rectangle_name
{
    background-color: #45c3aa;
    
    margin-left: 2px;
    margin-bottom: 45px;
    width: 57px;
    height: 6px;
    border-radius: 3px;
}

.paragraph
{
    font-family: "Georgia";
    font-size: 19px;
    line-height: 1.684;
    color: #555555;
}

.header
{
    font-family: "Open Sans";
    font-size: 36px;
    line-height: 1.167;
    color: #333333;
    
    margin-top: 50px;
}

.about_me
{
    margin-bottom: 70px; /*  */
}

.dream
{
    font-weight: normal;
    
    margin-left: -1px;
    margin-bottom: 55px;
    height: 4px;  /* */
}

a:hover
{
    color: #098d72; /* Цвет ссылки */ 
}

.communications
{
    font-family: "Georgia";
    font-size: 19px;
    line-height: 1.684;
    
    margin-top: 42.8px;
}

.arrow
{
    text-decoration: none;
    color: #15a98b;
}

.link_color
{
    color: #15a98b;
}